In [4]:
import pandas as pd

In [7]:
2+2

4

In [8]:
number = 3

In [9]:
number + 3

6

2 + 2

In [10]:
2 +2

4

In [11]:
number + number

6

In [12]:
number * 5

15

In [13]:
2 + 6

8

In [5]:
my_list = [2, 4, 6, 8]

In [6]:
my_series = pd.Series(my_list)

In [7]:
my_series.sum()

20

In [9]:
my_series.max()

8

In [10]:
my_series.mean()

5.0

In [12]:
my_series.describe()

count    4.000000
mean     5.000000
std      2.581989
min      2.000000
25%      3.500000
50%      5.000000
75%      6.500000
max      8.000000
dtype: float64